---
import './button_c.css';
---

<!-- Info Button -->
<div class="info-button" onclick="toggleModal('info-modal')"></div>

<!-- Modal for Info -->
<div class="modal" id="info-modal">
    <div class="modal-content">
        <button class="close-button" onclick="closeModal('info-modal')">×</button>
        <h2>📶 Quick WebInfo</h2>
        <p>Health look-up.</p>
        <div class="status-expired-container">
            <div class="status-expired">
                <div class="status-dot">
                    <div class="status-wave"></div>
                </div>
                <div>
                    <strong>OK</strong>
                    <p class="subtext">Your page is perfectly set up!</p>
                </div>
            </div>
        </div>
        <div class="container-inner">
            <div class="active-services">
                <strong>Active Add-Ons:</strong>
                <ul>
                    <li>✅ Performance Patches</li>
                    <li>✅ Weekly Optimizations</li>
                    <li>✅ Anycast Load Balancing</li>
                </ul>
            </div>
            <div class="active-services">
                <strong>Site Health:</strong>
                <ul>
                    <li>✅ Using latest version</li>
                    <li>✅ Latest Patch applied</li>
                    <li>✅ Managed by nikostuff.com</li>
                </ul>
            </div>
        </div>
        <div class="codeblock">
            <strong>Managed By:</strong> nikostuff.com<br/>
            <strong>Hosting:</strong> -<br/>
            <strong>Ver:</strong> EX.4.12
        </div>
    </div>
</div>

<script is:inline src="/js/info_button.js"></script>
