---
import { SITE } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <div class="flex justify-center mt-20">
    <p class="text-center text-2xl font-bold mt-10">Przekierowywanie...</p>
  </div>
</PageLayout>

<script>
  setTimeout(() => {
    window.location.href = "https://www.facebook.com/profile.php?id=61563747200103&sk=reviews";
  }, 500);
</script>
