---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "../../layouts/OtherTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

// Create the static projects pages
export async function getStaticPaths() {
    const mps = await getCollection("otherprojects")
    return mps.map((mp) => ({
        params: { slug: mp.id },
        props: mp,
    }))
}

// Get the requested project
type mpee = CollectionEntry<"otherprojects">
const mpee = Astro.props
const { title, summary } = mpee.data
---

<PageLayout title={title} description={summary}>
    <TopLayout>
        <div class="animate">
            <ArticleTopLayout entry={mpee} />
        </div>
    </TopLayout>
    <BottomLayout>
        <div class="animate">
            <ArticleBottomLayout entry={mpee} />
        </div>
    </BottomLayout>
</PageLayout>