@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

/*  */
@plugin "@tailwindcss/typography";

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-twinkle: twinkle 2s ease-in-out forwards;
  --animate-meteor: meteor 3s ease-in-out forwards;
  --text-shadow-xl-center: 0 0px 35px rgb(0, 0, 0 / 0.25);

  @keyframes twinkle {
    0% {
      opacity: 0;
      transform: rotate(0deg);
    }
    50% {
      opacity: 1;
      transform: rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg);
    }
  }

  @keyframes meteor {
    0% {
      opacity: 0;
      transform: translateY(200%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }
}

/* Mke this was fun to do - As for now it feels too unstable to use */

/* @view-transition {
  navigation: auto;
}

@keyframes shrink-fade-out {
  to {
    transform: scale(0.5) translateY(10%);
    opacity: 0;
  }
}

@keyframes grow-fade-in {
  from {
    transform: scale(1.5) translateY(10%);
    opacity: 0;
  }
}

::view-transition-old(body-animate) {
  animation: shrink-fade-out 700ms cubic-bezier(0.85, 0, 0.15, 1) both;
}

::view-transition-new(body-animate) {
  animation: grow-fade-in 700ms cubic-bezier(0.85, 0, 0.15, 1) both;
} */

/* -------------- */

@layer base {
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

html {
  overflow-y: scroll;
  color-scheme: light;
  background-color: white;
  font-family: "Atkinson", sans-serif;
}

html.dark {
  color-scheme: dark;
  background-color: black;
}

html,
body {
  @apply h-full w-full antialiased;
  @apply bg-white dark:bg-black;
  @apply text-black/75 dark:text-white/75;
}

body {
  @apply relative flex flex-col;
  /* view-transition-name: body-animate; */
}

main {
  @apply flex flex-col flex-1 bg-white dark:bg-black;
}

header {
  @apply border-b;
  @apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) {
  @apply scale-90 rounded-2xl;
  @apply bg-white/20 dark:bg-black/20;
  @apply backdrop-blur-xs border-transparent;
}

header.scrolled {
  @apply bg-white/75 dark:bg-black/50;
  @apply border-black/10 dark:border-white/25;
  @apply backdrop-blur-sm saturate-200;
}

article {
  @apply prose dark:prose-invert max-w-full pb-12;
}

.page-heading {
  @apply font-semibold text-black dark:text-white;
}

.blend {
  @apply transition-all duration-300 ease-in-out;
}

/** Light theme particles on home page */
@keyframes animateParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/** No more .animate - Been replaced with the new gsap astro component */

article img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

/**
 * TWINKLE STARS
 */

#twinkle-star.template {
  @apply absolute -left-full; /* hide offscreen */
}

#twinkle-star.twinkle {
  @apply animate-twinkle; /* defined in tailwind.config */
}

/**
 * Meteors
 */

#meteors .shower {
  @apply absolute inset-0 top-0;
  @apply left-1/2 -translate-x-1/2;
  @apply w-screen aspect-square;
}

#meteors .meteor {
  @apply animate-meteor; /* defined in tailwind.config */
  @apply absolute top-1/2 left-1/2 w-px h-[75vh];
  @apply bg-gradient-to-b from-white to-transparent;
}

#meteors .shower.ur {
  @apply rotate-45;
}

#meteors .shower.dr {
  @apply rotate-135;
}

#meteors .shower.dl {
  @apply rotate-225;
}

#meteors .shower.ul {
  @apply rotate-315;
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}

@keyframes gradient-animation {
  to {
    background-position: -200% 0; /* Move the gradient horizontally */
  }
}

.rainbow {
  background: linear-gradient(
    to right,
    rgba(228, 3, 3, 1) 0%,
    /* Red */ rgba(255, 140, 0, 1) 16.67%,
    /* Orange */ rgba(255, 237, 0, 1) 33.33%,
    /* Yellow */ rgba(0, 129, 31, 1) 50%,
    /* Green */ rgba(0, 68, 255, 1) 66.67%,
    /* Blue */ rgba(118, 0, 137, 1) 83.33%,
    /* Purple */ rgba(228, 3, 3, 1) 100% /* Red loop */
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s linear infinite;
}

.transparency-gr {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    /* Fully transparent */ rgba(0, 0, 0, 0.5) 50%,
    /* Semi-transparent */ rgba(0, 0, 0, 0) 100% /* Fully transparent again */
  );
  background-size: 200% 100%; /* Extend background horizontally for animation */
  background-clip: text; /* Makes the background apply to text */
  -webkit-text-fill-color: transparent; /* Ensures the text is transparent to show the background */
  animation: gradient-animation 2s linear infinite; /* Smooth animation */
}

.flip-in-hor-bottom {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-out-hor-top {
  animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-top {
  0% {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 rgba(129, 129, 129, 0.35);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
  }
}

@keyframes scale-in-bottom {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 rgba(129, 129, 129, 0.35);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    /* opacity: 0; */
  }
  100% {
    transform: translateY(0);
    /* opacity: 1; */
  }
}

.slide-in-top {
  animation: slide-in-top 1s cubic-bezier(1, 0, 0, 1) both;
}

.scale-in-bottom {
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-top {
  animation: scale-out-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes shineAnimation {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(-500%);
  }
}

.shine::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 350%;
  height: 300%;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 174, 0, 0.1) 50%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shineAnimation 5s infinite linear;
  will-change: transform;
}

.shine {
  position: relative;
  overflow: hidden;
}

.gray-shine::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 350%;
  height: 300%;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(129, 129, 129, 0.1) 50%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shineAnimation 5s infinite linear;
  will-change: transform;
}

.gray-shine {
  position: relative;
  overflow: hidden;
}

:root {
  --copy-btn-margin: 10px;
}

.copy-cnt {
  @apply absolute w-full;
  top: var(--copy-btn-margin);
}

.copy-btn {
  @apply w-[30px] fixed;
  left: calc(100% - var(--copy-btn-margin));
  transform: translateX(-100%);
}

.copy-svg {
  @apply w-full aspect-square text-white opacity-70 hover:opacity-90;
}

.animate {
  opacity: 0;
  transform: translateY(50px);
}
