<div
  id="preloader"
  class="fixed inset-0 backdrop-blur-3xl backdrop-brightness-0 z-50 transition-opacity duration-1000 ease-out opacity-100 pointer-events-auto"
>
  <div class="flex items-center justify-center h-full">
    <div class="loader flex flex-col items-center justify-center w-80 min-h-[10rem]">
      <span
        class="relative text-sm font-mono italic text-white text-center w-full h-20 flex items-center justify-center px-4"
      >
        
        <!-- <span class="invisible absolute w-full px-4 text-center animate-ping">
          "Life isn’t about getting and having, it’s about giving and being." - Kevin Kruse
        </span> -->
      </span>
    </div>
  </div>
</div>

<script is:inline src="/js/preloader_text.js"></script>
