---
---

<script is:inline data-astro-rerun async src="/js/reviews.js"/>
<article>
    <div class="reviews-wrapper relative">
        <div id="review-item" class="container h-[15rem] p-4 gap-3 text-left border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out relative flex items-center">
            <!-- Content will be updated by JavaScript -->
        </div>
    </div>
</article>
